<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wavemedia.studentapp" >
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/singleswhite">
        <activity
            android:name=".QuestionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Open"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wavemedia.studentapp.Open" />
        </activity>
        <activity
            android:name=".OptionA"
            android:label="@string/title_activity_option"
            android:parentActivityName=".QuestionActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wavemedia.studentapp.QuestionActivity" />
        </activity>
        <activity
            android:name=".OptionB"
            android:label="@string/title_activity_option_b"
            android:parentActivityName=".QuestionActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wavemedia.studentapp.QuestionActivity" />
        </activity>
        <activity
            android:name=".OptionC"
            android:label="@string/title_activity_option_c"
            android:parentActivityName=".QuestionActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wavemedia.studentapp.QuestionActivity" />
        </activity>
        <activity
            android:name=".OptionD"
            android:label="@string/title_activity_option_d"
            android:parentActivityName=".QuestionActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wavemedia.studentapp.QuestionActivity" />
        </activity>
        <activity
            android:name=".Open"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
